* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(144, 192, 236);
    height: 100%;
}

h1,p{
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
}

main {
    flex-grow: 1;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
    color: #81dbb8;
}

a:hover {
    opacity: .85;
}

nav {
    width: 100vw;
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: sticky;
    gap: 2rem;

}

li{
    list-style: none;
}